<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583373892018-e7339hi0fi8c29ccprhadtmiideera5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583373892018-e7339hi0fi8c29ccprhadtmiideera5n</string>
	<key>API_KEY</key>
	<string>AIzaSyBaWo1MPWnE-jNPnQSfkW022JSHsnlTkoU</string>
	<key>GCM_SENDER_ID</key>
	<string>583373892018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>arizmengeri05-hotmail.com.blue</string>
	<key>PROJECT_ID</key>
	<string>bickla</string>
	<key>STORAGE_BUCKET</key>
	<string>bickla.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583373892018:ios:a064af78d9b73b90bbdcab</string>
	<key>DATABASE_URL</key>
	<string>https://bickla.firebaseio.com</string>
</dict>
</plist>